.pagination{
    display: flex;
    padding: 0;
    list-style: none;
    gap: 2px;

    li {
        width: 24px;
        height: 24px;
        padding: 4px;
        text-align: center;
        cursor: pointer;

        &:hover {
            opacity: 0.5;
        }
    }

    li.active {
        background-color: red;
        color: $bg;
        border-radius: 20px;
    }
}